@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Comic+Neue:wght@300;400;700&family=Roboto:wght@300;500&display=swap');
@keyframes opacity {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(7deg);
    }
    75% {
        transform: rotate(-7deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

$stroke: #3c4043;
$shadow: #6B9080;
$body: #F6FFF8;
$med: #A4C3B2;
$light: #EAF4F4;
$r: 'Roboto';
$o: 'Alfa Slab One';
$c: 'Comic Neue';
body {
    background-color: $body;
}

.header {
    display: flex;
    align-items: center;
    .stroke-shadow {
        color: #fff;
        text-shadow: -1px 0 $stroke, 0 -1px $stroke, 1px 0 $stroke, 0 1px $stroke, 1px 1px $stroke, -1px -1px $stroke, -1px 1px $stroke, 1px -1px $stroke, 6px 6px $shadow;
        font-size: 5vw;
        font-weight: bold;
        letter-spacing: 5px;
        margin: 0;
        font-family: 'Roboto', sans-serif;
        cursor: pointer;
    }
    .right {
        display: flex;
        margin-left: auto;
        align-items: center;
        ul {
            display: inline-flex;
            align-items: center;
            li {
                display: flex;
                padding: 0 30px;
                align-items: center;
                font-family: 'Roboto', sans-serif;
                font-size: 17px;
                color: #3c4043;
                cursor: pointer;
                .number {
                    font-family: 'Alfa Slab One', serif;
                    font-size: 20px;
                    padding-right: 10px;
                    color: $med
                }
            }
        }
        button {
            background-color: $light;
            border: 1px solid $light;
            border-radius: 4px;
            color: rgb(73, 73, 73);
            cursor: pointer;
            font-family: arial, sans-serif;
            font-size: 14px;
            height: 36px;
            line-height: 27px;
            min-width: 54px;
            padding: 0 16px;
            text-align: center;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            white-space: pre;
            font-family: 'Roboto', sans-serif;
        }
        button:hover {
            border-color: #CCE3DE;
            box-shadow: rgb(226, 226, 226) 0 1px 1px;
            color: $stroke;
        }
        button:focus {
            border-color: #ffffff;
            outline: none;
        }
        .resume {
            margin: 10px;
        }
    }
}

.welcome-message {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    align-items: baseline;
    margin-bottom: -10px;
    margin-top: 80px;
    .hi {
        font-family: $o, sans-serif;
        font-size: 50px;
        color: $med;
        animation-duration: 4s;
        animation-name: opacity;
    }
    .iam {
        font-family: monospace;
        font-size: 20px;
        padding-left: 10px;
        color: $shadow;
        animation-duration: 5s;
        animation-name: opacity;
    }
}

.message {
    max-width: 600px;
    margin: 40px auto;
    border: 1px solid $shadow;
    box-shadow: 6px 6px $shadow;
    padding: 30px;
    background-color: #fff;
    .icons {
        display: flex;
        margin-right: auto;
        ul {
            margin-left: auto;
            display: flex;
            list-style: none;
            li {
                padding-left: 10px;
                cursor: pointer;
            }
        }
    }
    .message-body {
        text-align: justify;
        .message-name {
            font-family: $r, sans-serif;
            font-size: 2.8rem;
            color: $stroke;
        }
        .message-desc {
            font-family: $r, serif;
            font-weight: 300;
            font-size: 1.5rem;
            color: $med;
            overflow: hidden;
            border-right: .15em solid $med;
            white-space: nowrap;
            margin: 0 auto;
            letter-spacing: .15em;
            animation: typing 6.5s steps(40, end), blink-caret .75s step-end infinite;
        }
        @keyframes typing {
            from {
                width: 0
            }
            to {
                width: 100%
            }
        }
        @keyframes blink-caret {
            from,
            to {
                border-color: transparent
            }
            50% {
                border-color: $med
            }
        }
    }
    .contact-text {
        padding: 60px 0px 30px 0;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        font-weight: 600;
        font-size: 1.1rem;
        color: $stroke;
        cursor: pointer;
    }
    .contact-body {
        text-align: center;
        font-family: monospace;
        color: $stroke;
        font-size: 0.8rem;
        letter-spacing: 0.1rem;
        padding: 60px 0px 20px 0;
        animation-duration: 3s;
        animation-name: opacity;
        ul {
            list-style: none;
        }
    }
}

.about {
    max-width: 700px;
    margin: 0 auto;
    animation-duration: 3s;
    animation-name: opacity;
    h2 {
        font-family: $o, monospace;
        font-size: 3rem;
        color: white;
        margin-left: 2vw;
        -webkit-text-fill-color: rgba(255, 255, 255, 0.254);
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: $stroke;
        text-shadow: 6px 6px $med;
    }
}

.about-body {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
    img {
        object-fit: cover;
        border-radius: 50%;
        height: 250px;
        width: 250px;
        box-shadow: 6px 6px $shadow;
        border: 2px solid white;
    }
    .about-text {
        padding-left: 60px;
        font-family: $r, sans-serif;
        font-weight: 400;
        color: $stroke
    }
}

.about-tags {
    text-align: center;
    ul {
        display: inline-flex;
        list-style: none;
    }
    li {
        font-family: monospace;
        padding: 7px 13px;
        background-color: $shadow;
        color: $light;
        margin-left: -20px;
        &:hover {
            animation-name: spin;
            animation-duration: 1s;
        }
    }
    .tag-text {
        font-size: 1rem;
        font-family: $r, sans-serif;
        color: $stroke
    }
}

.material-symbols-outlined {
    font-size: 50px;
    color: $shadow;
    cursor: pointer;
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48,
}

.projects-list {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.container {
    text-align: center;
    margin: 0 auto;
    h2 {
        text-align: left;
        font-family: $o, monospace;
        font-size: 3rem;
        color: white;
        margin-left: 10vw;
        -webkit-text-fill-color: rgba(255, 255, 255, 0.254);
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: $stroke;
        text-shadow: 6px 6px $med;
    }
    h4 {
        font-size: 2rem;
        font-family: $r, sans-serif;
        font-weight: 400;
        color: $stroke;
        text-transform: lowercase;
    }
}

.ex-body {
    padding: 30px 0;
    animation-name: opacity;
    animation-duration: 2s;
    .line {
        height: 6px;
        width: 70%;
        background: $med;
        border-radius: 5px;
        margin: auto;
        top: 50%;
        transform: translateY(-50%);
        position: relative;
        z-index: -1;
    }
    .dot {
        width: 15px;
        height: 15px;
        background: $med;
        border-radius: 10px;
        border: 3px solid $med;
        cursor: pointer;
        margin-top: -18px;
        margin-left: 20vw;
        z-index: 11111;
    }
}

.projects-list {
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 30px;
    height: 600px;
    .project-item {
        animation-name: opacity;
        animation-duration: 2s;
        display: flex;
        flex-basis: auto;
        flex-wrap: wrap;
        align-items: center;
        font-family: $r, sans-serif;
        color: $stroke;
        height: 500px;
        div {
            margin: 0 auto;
            padding: 0 10px;
            text-align: center;
        }
        h5 {
            font-size: 1.5rem;
            font-family: $r, sans-serif;
            letter-spacing: 0.3rem;
            color: $med;
            text-decoration: underline;
            margin-bottom: 0px;
        }
        ul {
            display: inline-flex;
            list-style: none;
            font-family: $r, sans-serif;
            margin-left: -10px;
            li {
                padding: 7px 15px;
                background-color: $shadow;
                margin-right: 10px;
                color: $light;
                &:hover {
                    animation-name: spin;
                    animation-duration: 0.3s;
                }
            }
        }
        .git-link {
            background-color: #FFFFFF;
            border: 1px solid $shadow;
            border-radius: 8px;
            box-sizing: border-box;
            color: $shadow;
            cursor: pointer;
            display: inline-block;
            font-family: Circular, -apple-system, BlinkMacSystemFont, 'Roboto', "Helvetica Neue", sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            margin: 20px 0px 20px 0px;
            outline: none;
            padding: 7px 15px;
            position: relative;
            text-align: center;
            text-decoration: none;
            touch-action: manipulation;
            transition: box-shadow .2s, -ms-transform .1s, -webkit-transform .1s, transform .1s;
            user-select: none;
            -webkit-user-select: none;
            width: auto;
            &:focus-visible {
                box-shadow: $shadow 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
                transition: box-shadow .2s;
            }
            &:active {
                background-color: #F7F7F7;
                border-color: $shadow;
                transform: scale(.96);
            }
            &:disabled {
                border-color: #DDDDDD;
                color: #DDDDDD;
                cursor: not-allowed;
                opacity: 1;
            }
        }
        .img-dot {
            height: 12px;
            width: 12px;
            background-color: $med;
            border-radius: 50%;
            display: inline-block;
        }
        .img-container {
            border: 3px solid $light;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
        }
        .top {
            padding: 10px;
            margin-right: -10px;
            margin-left: -10px;
            background: $light;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            .open-btn {
                margin-left: 14rem;
                padding: 2px 10px 4px 10px;
                color: #fff;
                background-color: $med;
                border-radius: 4px;
                font-family: monospace;
                border: 0.1rem solid $med;
                cursor: pointer;
                &:active {
                    background-color: $light;
                    color: $shadow;
                }
            }
        }
        .img-content {
            margin-left: -20px;
            margin-right: -20px;
            margin-bottom: -5px;
            img {
                max-width: 340px;
            }
        }
    }
}

.contact {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    animation-name: opacity;
    animation-duration: 2s;
    .contact-body {
        padding: 40px;
        font-family: $r, sans-serif;
        color: $stroke;
        h1 {
            font-family: $o, monospace;
            font-size: 6vw;
            color: white;
            margin-left: 2vw;
            -webkit-text-fill-color: rgba(255, 255, 255, 0.254);
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: $shadow;
            text-shadow: 6px 6px $med;
        }
        button {
            background-color: #FFFFFF;
            border: 1px solid $shadow;
            border-radius: 8px;
            box-sizing: border-box;
            color: $shadow;
            cursor: pointer;
            display: inline-block;
            font-family: Circular, -apple-system, BlinkMacSystemFont, 'Roboto', "Helvetica Neue", sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            margin: 20px 0px 0px 0px;
            outline: none;
            padding: 7px 15px;
            position: relative;
            text-align: center;
            text-decoration: none;
            touch-action: manipulation;
            transition: box-shadow .2s, -ms-transform .1s, -webkit-transform .1s, transform .1s;
            user-select: none;
            -webkit-user-select: none;
            width: auto;
            &:focus-visible {
                box-shadow: $shadow 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
                transition: box-shadow .2s;
            }
            &:active {
                background-color: #F7F7F7;
                border-color: $shadow;
                transform: scale(.96);
            }
            &:disabled {
                border-color: #DDDDDD;
                color: #DDDDDD;
                cursor: not-allowed;
                opacity: 1;
            }
        }
    }
    .contact-text {
        margin: 20px 0;
    }
    .contact-email {
        font-family: monospace;
        font-size: 1.4rem;
    }
}